<div class="item-weather" *ngIf="!meteoItem">
    Pas de données
</div>
<div class="item-weather" *ngIf="meteoItem" [ngStyle]="{ 'animation-delay': indexOfElement /10 + 's' }">
    <img [src]="
        meteoItem.main.humidity > 80 ? './assets/rain.png' : './assets/sun.png'
      " />
    <div>
        <p>Date {{ meteoItem.dt_txt | date: "hh:mm dd/MM/yyyy"}}</p>
        <p>{{ meteoItem.main.temp | temperature }}</p>
        <p>Humidité : {{ meteoItem.main.humidity }} %</p>
    </div>
</div>