.item-weather {
    flex-grow: 0.2;
    font-size: 0.9em;
    background-color: #ff9624;
    color: #ffffff;
    border-color: #585858;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: none;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 1px 1px #b7b7b7;
  }
  
  .item-weather:hover {
    background-color: #414141;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .item-weather > div > p {
    margin: 0;
    padding: 0;
  }
  