<div>
    <p>Rechercher une ville</p>
    <input placeholder="rechercher une ville..." [(ngModel)]="ville" type="text" id="meteoTI"
        (keydown)="keyDownHandler($event)" />
    <button (click)="clickHandler($event)">LANCER</button>
</div>