<div id="geoloc-container">
    <h4>
        Veuillez activer la localisation pour rechercher automatiquement la météo.
    </h4>

    <div id="geoloc-sub-container">
        <p *ngIf="!geolocInfo">Localisation en cours...</p>
        <p *ngIf="error" style="color: red;">Impossible de vous géolocaliser.</p>
        <button *ngIf="geolocInfo" id="geolocBtn" [routerLink]="['/meteo/result']"
            [queryParams]="{ ville: geolocInfo.ville }">
            Rechercher sur {{ geolocInfo.ville }} ?
        </button>
        <button id="cancelBtn" [routerLink]="['/meteo/map']">
            Choisir depuis une carte
        </button>
    </div>
</div>