#meteo-search-container {
  background-color: #EDEDED;
  margin: 1em;
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
  border: 0.5px #2d2d2d solid;
  visibility: visible;
}

#meteo-result-title {
  padding: 1em 1em 1em 1em;
  font-size: 1.2em;
}

#weather_results {
  width: calc(100% - 1em);
  font-size: 0.8em;
  background-color: #f4f4f4;
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
  visibility: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}
