<div id="meteo-search-container">
    <app-meteo-search (search)="searchChangeHandler($event)" [ville]="ville"></app-meteo-search>
</div>

<div *ngIf="!meteoResult">Pas de donnée</div>
<div *ngIf="meteoResult" id="meteo-result-title">
    <p>
        {{ meteoResult?.city?.name }} - {{ meteoResult?.city?.coord?.lat }} | {{
        meteoResult?.city?.coord?.lon
        }}
        - {{ meteoResult?.city?.population }} habitants
    </p>
</div>

<div *ngIf="meteoResult" id="weather_results">
    <p *ngFor="let item of meteoResult?.list; let indexOfElement = index">
        <meteo-item-renderer [meteoItem]="item" [indexOfElement]="indexOfElement"></meteo-item-renderer>
    </p>
</div>